<a href="https://colab.research.google.com/github/AdarshKhatri01/DBMS-Notes/blob/main/ER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Degree of a Relation in DBMS**  

## **What is the Degree of a Relation?**  
- In **DBMS (Database Management System)**, the **degree of a relation (table)** is the **number of attributes (columns)** in that relation.  
- **Formula:**  

          Degree = Number of Attributes(Columns)

- The degree determines the **structure** of a relation.  

---

## **Types of Relations Based on Degree**  

| **Degree (No. of Attributes)** | **Relation Type** | **Example** |
|---------------------------------|-------------------|-------------|
| **1** | **Unary Relation** | Table with only **one** attribute |
| **2** | **Binary Relation** | Table with **two** attributes |
| **3** | **Ternary Relation** | Table with **three** attributes |
| **n (n > 3)** | **n-ary Relation** | Table with **n attributes** |

---

## **Examples of Relations Based on Degree**  

### **1. Unary Relation (Degree = 1)**  
- A table with **only one column**.  
- Example: **Person Table (only Name attribute)**  

| Name  |
|-------|
| Alice |
| Bob   |
| Carol |

---

### **2. Binary Relation (Degree = 2)**  
- A table with **two attributes**.  
- Example: **Employee Table**  

| Employee_ID | Name  |
|------------|-------|
| 101        | Alice |
| 102        | Bob   |

---

### **3. Ternary Relation (Degree = 3)**  
- A table with **three attributes**.  
- Example: **Student Table**  

| Student_ID | Name  | Course  |
|------------|-------|---------|
| 1          | Alice | CS      |
| 2          | Bob   | IT      |

---

### **4. n-ary Relation (Degree > 3)**  
- A table with **more than three attributes**.  
- Example: **Employee Table with 4 attributes** (Degree = 4)  

| Employee_ID | Name  | Department | Salary  |
|------------|-------|------------|---------|
| 101        | Alice | HR         | 50000   |
| 102        | Bob   | IT         | 60000   |

---

## **Conclusion**  
- The **degree** of a relation is **equal to the number of attributes (columns)** in that relation.  
- It helps in **classifying** relations as **Unary, Binary, Ternary, or n-ary**.



<hr>
<hr>
<hr>
<br>
<hr>
<hr>
<hr>

# **Degree of a Relationship in DBMS**  

## **What is the Degree of a Relationship?**  
- In **DBMS (Database Management System)**, the **degree of a relationship** refers to the **number of entity types** involved in a relationship.  
- It defines how **many entities** participate in a given relationship.  

---

## **Types of Relationships Based on Degree**  

| **Degree** | **Relationship Type** | **Description** | **Example** |
|------------|----------------------|----------------|-------------|
| **1** | **Unary Relationship** | A single entity is related to itself. | An **Employee** supervises another **Employee**. |
| **2** | **Binary Relationship** | Relationship between **two** entities. | A **Student** enrolls in a **Course**. |
| **3** | **Ternary Relationship** | Relationship between **three** entities. | A **Supplier** supplies a **Product** to a **Customer**. |
| **n (n > 3)** | **n-ary Relationship** | Relationship between **n** entities. | A **Doctor** treats a **Patient** using a **Medicine** in a **Hospital**. |

---

## **Examples of Relationship Types**  

### **1. Unary Relationship (Degree = 1)**  
- A relationship where **an entity is related to itself**.  
- Example: **"Employee supervises Employee"**  

| Employee_ID | Employee_Name | Supervisor_ID |
|------------|--------------|--------------|
| 101        | Alice        | NULL         |
| 102        | Bob          | 101          |
| 103        | Carol        | 101          |

---

### **2. Binary Relationship (Degree = 2)**  
- A relationship between **two different entities**.  
- Example: **"Student enrolls in Course"**  

| Student_ID | Student_Name | Course_ID | Course_Name  |
|------------|-------------|-----------|--------------|
| 1          | Alice       | CS101     | DBMS         |
| 2          | Bob         | IT202     | Data Science |

---

### **3. Ternary Relationship (Degree = 3)**  
- A relationship between **three entities**.  
- Example: **"Supplier supplies Product to Customer"**  

| Supplier_ID | Supplier_Name | Product_ID | Product_Name | Customer_ID | Customer_Name |
|------------|--------------|-----------|--------------|------------|--------------|
| S1         | ABC Corp     | P1        | Laptop      | C1         | Alice        |
| S2         | XYZ Ltd      | P2        | Phone       | C2         | Bob          |

---

### **4. n-ary Relationship (Degree > 3)**  
- A relationship involving **more than three entities**.  
- Example: **"Doctor treats Patient using Medicine in Hospital"**  

| Doctor_ID | Doctor_Name | Patient_ID | Patient_Name | Medicine_ID | Medicine_Name | Hospital_ID | Hospital_Name |
|-----------|------------|------------|-------------|------------|--------------|------------|--------------|
| D1        | Dr. Smith  | P1         | Alice       | M1        | Paracetamol  | H1         | City Hospital |
| D2        | Dr. John   | P2         | Bob         | M2        | Aspirin      | H2         | Metro Clinic |

---

## **Conclusion**  
- The **degree of a relationship** is the **number of entity types** participating in a relationship.  
- It can be **Unary (1), Binary (2), Ternary (3), or n-ary (n > 3)**.  
- Higher-degree relationships are **less common** but can exist in **complex database models**.


<hr>
<hr>
<hr>
<br>
<hr>
<hr>
<hr>